* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-size: 20px;
	font-family: 'Tajawal', sans-serif;
	color: #111;
	font-weight: 400;
}

a {
	display: inline-block;
	text-decoration: none;
	color: #111;
	border-bottom: 2px solid #111;
	margin-bottom: 5px;
	transition: all .3s ease-in-out;
	height: 1.3em;
}

a:hover {
	color: #FF3399;
	border-bottom: 2px solid #FF3399;
}

blockquote {
	border-left: 1px solid #111;
	color: rgba(0,0,0,.6);
	font-size: 1.2em;
	font-weight: 300;
	font-style: italic;
	background-color: rgba(255,255,255,.1);
	padding: 30px;
	word-wrap: break-word;
}

cite {
	display: block;
	font-size: .8em;
	font-weight: 700;
	padding: 10px;
	font-style: normal;
}

h1,
h2,
h3,
h4 {
	font-family: "Press Start 2P", monospace;
	letter-spacing: .05em;
	text-align: center;
	line-height: 1.5;
	margin: 50px 0 30px 0;
}

h1 {
	font-size: 1.6em;
	text-transform: uppercase;
	font-weight: 700;
}

h2 {
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 700;
}

h3 {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 700;
}

p {
	line-height: 1.6;
	padding: 10px;
}

section {
	padding: 50px;
}

.restict-width {
	max-width: 1200px;
	margin: 0 auto;
}

header {
	padding: 50px;
	text-align: center;
}

.wrap-header {
	background-color: #0F4D8F;

}

.wrap-about {
	background-color: #FF3399;
}

header,
.about {
	color: #fff;
}

.list-facts .fact-list:first-of-type h3 {
	color: #FF3399;
}

.list-facts .fact-list:last-of-type h3 {
	color: #0F4D8F;
}

.more-info {
	text-align: center;
}

.wrap-more {
	background-image: linear-gradient(-180deg, #C9C9C9 0%, #FF9999 46%, #C9C9C9 100%)
}

footer {
	padding: 30px;
	text-align: center;
}

footer a {
	color: #FF3399;
	border-bottom: 2px solid #FF3399;
}

footer a:hover {
	color: #111;
	border-bottom: 2px solid #111;
}

.fact-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}



@media (min-width: 600px) {

	h2 {
		font-size: 1em;
	}

	h3 {
		font-size: .8em;
	}

	section {
		padding: 100px;
	}

	.about-wrapper,
	.list-facts,
	.more-info {
		display: flex;
		justify-content: space-between;
	}

	.about-paragraph,
	.fact-list,
	.more-element {
		width: 50%;
	}

}

@media (min-width: 1000px) {

	h2 {
		font-size: 1.2em;
	}

	h3 {
		font-size: 1em;
	}

}
