body{
    margin:0px auto;
}
.bgc{
    width: 100%;
    height: 100%;
}
.pic1{
    position: absolute;
    /* width: 100%; */
    height:25%;
}
.pic2{
    position: absolute;
    /* width: 100%; */
    height:25%;
    top:25%;
}
.pic3{
    position: absolute;
    /* width: 100%; */
    height:25%;
    top:50%;
}
.pic4{
    position: absolute;
    /* width: 100%; */
    height:25%;
    top:75%
}
.bg-img{
    width: 100%;
    height: 100%;
}